$lightFontColor: #f3eef0;

::host {
  color: red;
}

h1 {
  color: $lightFontColor;
  font-family: "Inika", serif;
  font-size: 25px;
  font-weight: 700;
}

.sideBarProjectsWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 0 50px 37px;

  a {
    color: $lightFontColor;
    font-family: "Inria Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      font-weight: 900;
    }
  }
}

.addNewProjectBtn {
  background-color: transparent;
  border: none;
  font-family: "Inria Sans", sans-serif;
  font-style: italic;
  color: $lightFontColor;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    font-weight: 900;
  }
}

.sideBarInputWrapper {
  margin-top: 1rem;
  display: flex;
  background-color: #f3eef0;
  border-radius: 10px;
}

input {
  all: unset;
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 20px;
  color: #ec9171;
  font-family: "Inria Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  &::placeholder {
    color: #ec9171;
  }
}

.saveNewProjectBtn {
  width: 100px;
  height: 30px;
  background-color: #c44d75;
  color: #f3eef0;
  font-family: "Inria Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
  &:hover {
    background-color: #c93d6b;
  }
}

.hidden {
  display: none;
}
