h2 {
    color: #c44d75ce;
    font-family: "Inika", serif;
    font-size: 25px;
    font-weight: 400;
}

.completedTaskListWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 10px 0;
    gap: 15px;
  }
  