.mainTaskViewHeading {
    color: #C44D75;
    font-family: "Inika", serif;
    font-size: 35px;
    font-weight: 400;
}

.mainTaskViewShowCompletedBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inika", serif;
  color: #9080a4;
  font-size: 15px;
  font-weight: 400;
}
